<html>
    <head>
        <link rel="stylesheet" href="stylesheets/ticket_system_style.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/fontAwesome.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d69811cbc4.js" crossorigin="anonymous"></script>
    </head>
    <title>
        Air Ticket Booking System
    </title>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="/"><img src="images/e95aca64384ef4a99fc1818d0a92947c.png" alt="ABC Airlines" class="logo"></a>
                    <ul class="main-nav js--main-nav">
                        <li><a href="/bookingform">Book a ticket</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                    <!--<a class="mobile-nav-icon js--nav-icon"><i class="fas fa-bars"></i></a>-->
                </div>
            </nav>
        </header>
