<html>
    <title>
        Air Ticket Booking System
    </title>
    <head>
      
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d69811cbc4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <nav id="navbar">
            <input id="nav-toggle" type="checkbox">
            <div class="logo">
                <img src="images/logo.png" alt="">
                <strong>ABC</strong>Airlines
            </div>
            <ul class="links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#book">Ticket</a></li>
                <li><a onclick="document.getElementById('id01').style.display='block'" href="#admin">Admin</a></li>
            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
        <div id="id01" class="modal">
  
            <form class="modal-content animate" action="" method="post">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
              </div>
          
              <div class="container1">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                  
                <button type="submit">Login</button>
              </div>
          
              <div class="container1" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              </div>
            </form>
        </div>
        <div class="intro">
            <h1>World class Flights!<br>Classic travel experience!!</h1>
        </div>
        <section id="book" class="ticket-form">
            <form action="">
                <div class="book-ticket">
                  <h2 class="heading">Book a ticket</h2>
                  <input type="text" id="name" class="floatLabel" name="name" placeholder="Your Name">
                  <input type="text" id="email" class="floatLabel" name="email" placeholder="Your Email">
                    <input type="text" id="phone" class="floatLabel" name="phone" placeholder="Your Phone Number">
                    <div class="age-date">
                        <input type="number" id="age" class="floatLabel" name="age" placeholder="    Your Age">
                        <label for="depart" id="label">Date of Departure:</label>
                        <input type="date" id="depart" class="floatLabel" name="depart" placeholder="Date of departure">

                    </div>
                    <div class="from-to">
                        <input list="flight-source" id="from" placeholder="    Flying From">
                        <datalist id="flight-source">
                            <option value="Bengaluru">
                            <option value="Chennai">
                            <option value="Mysuru">
                            <option value="Delhi">
                            <option value="Mumbai">
                        </datalist>
                        <input list="flight-dest" id="to" placeholder="    Flying To">
                            <datalist id="flight-dest">
                                <option value="Bengaluru">
                                <option value="Chennai">
                                <option value="Mysuru">
                                <option value="Delhi">
                                <option value="Mumbai">
                        </datalist>
                    </div>
                    
                    
                </div>
                <div class="see-seats">
                    <button type="submit">View seats</button>
                </div>
                   
        </section>
          
    </body>
</html>