  <%- include('partials/header') %>
            <div class="intro-text-box">
                <h1>World class Flights!<br>Classic experience awaits you!</h1>
                <a class="btn btn-admin js--scroll-to-admin" href="#">About Us</a>
                <a class="btn btn-ticket js--scroll-to-ticket" href="#">Contact Airlines</a>
            </div>
  <%- include('partials/footer') %>
