<!DOCTYPE html>
<html>
<head>
	<title>Airplane Registration</title>
	<link rel="stylesheet" href="stylesheets/register_flight.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div class="input">
		<form>
		  <label for="Source">Source:</label><br>
		  <input type="text" id="Source" name="Source"><br>
		  <label for="Destination">Destination:</label><br>
		  <input type="text" id="Destination" name="Destination"><br>
		  <label for="Flight Number">Flight Number:</label><br>
		  <input type="number" id="Flight Number" name="Flight Number"><br>
		  <label for="No. of seats">No. of seats:</label><br>
		  <input type="number" id="No. of seats" name="No. of seats"><br><br>
		  <input type="submit" value="Submit">
  		  <input type="reset">
		</form>
	</div>
</body>
</html>
